<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Book Recommender System</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<style>
    .text-white{
        color:rgb(255, 255, 255)
    }
   
</style>
<body background="https://wallpaperaccess.com/full/3876048.jpg">
    
    

    <nav class="navbar">
        <a class="navbar-brand" style="color: rgb(255,253,208);">Book recommender system</a>
        <ul class="nav navbar-nav">
            <li><a href="/" style="color: rgb(255,253,208);">Home</a></li>
            <li><a href="/recommend" style="color: rgb(255,253,208);">Recommender</a></li>
            <li><a href="/search" style="color: rgb(255,253,208);">Search Books</a></li>
        </ul>
    </nav>

    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="text-white" style="font-size:50px ; color:rgb(255,253,208) ;">Most popular books</h1>
            </div>

            {% for i in range(book_name|length) %}
                <div class="col-md-3" style="margin-top:50px">
                    <div class="card">
                        <div class="card-body">
                            <img class="card-img-top" src="{{ image[i] }}">
                            <p class="text-white">{{ book_name[i] }}</p>
                            <h4 class="text-white">{{ author[i] }}</h4>
                            <h4 class="text-white">Votes - {{ votes[i] }}</h4>
                            <h4 class="text-white">Rating - {{ rating[i] }}</h4>
                        </div>
                    </div>
                </div>
            {% endfor %}


        </div>
    </div>
    
</body>
</html>